<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="KPSPublicSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="KPSPublicSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://tckimlik.nvi.gov.tr/Service/KPSPublic.asmx"
                binding="basicHttpBinding" bindingConfiguration="KPSPublicSoap"
                contract="ServiceReference1.KPSPublicSoap" name="KPSPublicSoap" />
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="InterfaceAbstractDeno.Service1">
                <endpoint address="" binding="basicHttpBinding" contract="InterfaceAbstractDeno.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/InterfaceAbstractDeno/Service1/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>